// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
// Hero banner image
.jumbotron {
  color: #ffffff;
  text-align: center;
  background-image: url('../../images/Course-Banner-Image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
}
// Load the main bootstrap framework.
@import '../node_modules/bootstrap/scss/bootstrap';

// Custom styles that are common for all pages in our project
// Top hamburger nav

html,
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

body {
  padding-top: 4.5rem;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #000000;
  font-weight: 700;
  text-align: center;
}
span,
.collapse .navbar-nav a.nav-link:link,
.collapse .navbar-nav a.nav-link:visited {
  color: #0e7738;
}

// Round banner nav
.display-6 {
  background-color: #1f1f1f76;
  margin-bottom: 30px;
  padding-left: 3rem;
}
.active a {
  color: #00a42e;
}
.fa-book:hover,
.fa-address-book:hover,
.fa-dollar-sign:hover {
  font-size: 5.5rem;
  color: #08ba4f;
  transition: 0.5s;
}
.fa-book:hover:after,
.fa-address-book:hover:after,
.fa-dollar-sign:hover:after {
  opacity: 1;
}
// Hover Mobile hamburger nav
@media only screen and (max-width: 750px) {
  span,
  .collapse .navbar-nav a.nav-link:hover {
    background-color: #1f1f1f76;
    transition: background-color 1s ease;
    transition: color 1s ease;
    color: white;
  }
}
// Hover Desktop hamburger nav
@media only screen and (min-width: 750px) {
  span,
  .collapse .navbar-nav a.nav-link:hover {
    transition: color 1s ease;
    color: red;
  }
}
// Mobile responsive nav
@media only screen and (max-width: 750px) {
  .fa-book,
  .fa-address-book,
  .fa-dollar-sign {
    font-size: 2.8rem;
    color: #fff;
    background: #3f3f3f;
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .fa-book:hover,
  .fa-address-book:hover,
  .fa-dollar-sign:hover {
    font-size: 4rem;
    color: #08ba4f;
    transition: 0.5s;
  }
}

// Desktop responsive nav
@media only screen and (min-width: 750px) {
  .fa-book:hover,
  .fa-address-book:hover,
  .fa-dollar-sign:hover {
    font-size: 5.5rem;
    color: #08ba4f;
    transition: 0.5s;
  }
  .fa-book,
  .fa-address-book,
  .fa-dollar-sign {
    font-size: 5rem;
    color: #fff;
    background: #3f3f3f;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
// Main page article
h2 {
  font-size: 1rem;
  margin: 0.667rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

p {
  font-size: 0.667rem;
  margin: 1rem;
  padding: 75;
  font-size: 1rem;
}
.article-image {
  width: 100%;
  height: auto;
  text-align: center;
}

@media screen and (min-width: 35rem) {
  p {
    font-size: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 75;
  }
  h2 {
    margin: 8rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  // Vertical line
  .sidebar {
    float: left;
    margin-left: 2rem;
    border-left: 3px solid gray;
  }
  .secondary article {
    float: left;
    width: calc(50% - 1rem);
  }
  .secondary2 article {
    float: left;
    width: calc(50% - 1rem);
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  .secondary article:nth-child(1) p {
    margin-right: 0.5rem;
    margin-left: 40%;
  }
  .secondary article:nth-child(2) p {
    margin-left: 0.5rem;
    margin-right: 40%;
  }
  .secondary2 article:nth-child(1) p {
    margin-right: 0.5rem;
    margin-left: 40%;
  }
  .secondary2 article:nth-child(2) p {
    margin-left: 0.5rem;
    margin-right: 40%;
  }
  .secondary article:nth-child(1) h2 {
    margin-right: 0.5rem;
    margin-left: 40%;
  }
  .secondary article:nth-child(2) h2 {
    margin-left: 0.5rem;
    margin-right: 40%;
  }
  .secondary2 article:nth-child(1) h2 {
    margin-right: 0.5rem;
    margin-left: 40%;
  }
  .secondary2 article:nth-child(2) h2 {
    margin-left: 0.5rem;
    margin-right: 40%;
  }
  h2 {
    margin-left: 27%;
    margin-right: 27%;
    font-size: 1rem;
  }
  .article-image {
    width: 30rem;
    height: auto;
    padding-top: 8rem;
  }
}

// Footer
footer {
  color: white;
  font-size: 11px;
  text-align: center;
  vertical-align: bottom;
  background-color: black;
  padding: 1rem;
}
// social media icons
// code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons2
footer .fa {
  padding: 20px;
  font-size: 25px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 20px;
}

footer .fa:hover {
  opacity: 0.7;
}
footer .fa-facebook {
  background: #3b5998;
  color: white;
}

footer .fa-twitter {
  background: #55acee;
  color: white;
}

footer .fa-google {
  background: #dd4b39;
  color: white;
}

// Back to top button
.btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.
