// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
// Hero banner image
.jumbotron {
  color: #ffffff;
  text-align: center;
  background-image: url('../../images/Course-Banner-Image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
}
// Load the main bootstrap framework.
@import '../node_modules/bootstrap/scss/bootstrap';

// Custom styles that are common for all pages in our project
// Top hamburger nav

html,
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

body {
  padding-top: 4.5rem;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #000000;
  font-weight: 700;
  text-align: center;
}
span,
.collapse .navbar-nav a.nav-link:link,
.collapse .navbar-nav a.nav-link:visited {
  color: #085e2b;
}

// Round banner nav
.display-6 {
  background-color: #1f1f1f76;
  margin-bottom: 30px;
  padding-left: 3rem;
}
.active a {
  color: #08ba4f;
}
.fa-book:hover,
.fa-address-book:hover,
.fa-dollar-sign:hover {
  font-size: 5.5rem;
  color: #08ba4f;
  transition: 0.5s;
}
.fa-book:hover:after,
.fa-address-book:hover:after,
.fa-dollar-sign:hover:after {
  opacity: 1;
}
// Mobile responsive nav
@media only screen and (max-width: 750px) {
  .fa-book,
  .fa-address-book,
  .fa-dollar-sign {
    font-size: 2.8rem;
    color: #fff;
    background: #3f3f3f;
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .fa-book:hover,
  .fa-address-book:hover,
  .fa-dollar-sign:hover {
    font-size: 4rem;
    color: #08ba4f;
    transition: 0.5s;
  }
}

// Desktop responsive nav
@media only screen and (min-width: 750px) {
  .fa-book:hover,
  .fa-address-book:hover,
  .fa-dollar-sign:hover {
    font-size: 5.5rem;
    color: #08ba4f;
    transition: 0.5s;
  }
  .fa-book,
  .fa-address-book,
  .fa-dollar-sign {
    font-size: 5rem;
    color: #fff;
    background: #3f3f3f;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
//Teachers page
h2 {
  font-size: 40px;
  margin-top: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
header {
  background-color: #2b2d42;
  color: #8d99ae;
  margin: 0 auto;
  width: 100%;
}

header h2 {
  color: #edf3f4;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
    text-align: center;
  }
  .profile-img {
    text-align: center;
    border-radius: 50%;
    width: auto;
    height: 170px;
  }
  .col-wide {
    text-align: center;
  }
}

@media only screen and (min-width: 750px) {
  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
  }
  .profile-img {
    border-radius: 50%;
    float: left;
    width: auto;
    height: 170px;
  }
}

// Footer
footer {
  color: white;
  font-size: 11px;
  text-align: center;
  vertical-align: bottom;
  background-color: black;
  padding: 1rem;
}
// social media icons
// code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons2
footer .fa {
  padding: 20px;
  font-size: 25px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 20px;
}

footer .fa:hover {
  opacity: 0.7;
}
footer .fa-facebook {
  background: #3b5998;
  color: white;
}

footer .fa-twitter {
  background: #55acee;
  color: white;
}

footer .fa-google {
  background: #dd4b39;
  color: white;
}
// Back to top button
.btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
